* {
  font-size: 62, 5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #eef3f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 40rem;
  height: 27rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 11px -6px #cdd4e6;
  box-shadow: 0px 15px 11px -6px #cdd4e6;
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  gap: 2rem;
  border-radius: 0.5rem;
}

.headset {
  height: 11rem;
}

#cart-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.free-shipping {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 0.65rem;
  background-color: #191649;
  border: 0;
  border-radius: 0.9rem;
  padding: 0.3rem 0.4rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.65rem;
  text-decoration: line-through;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.add-to-cart {
  width: 100%;
  height: 2.7rem;
  font-family: "Lato", sans-serif;
  background-color: #4787e9;
  color: #fff;
  font-weight: 400;
  border: 0;
  border-bottom: 0.3rem solid #1e56ed;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.stock {
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 2rem;
}

h3 i {
  color: #04d58b;
  margin-right: 0.2rem;
}

#buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.add-to-cart-2,
.add-to-wishlist {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.7rem;
  width: 11rem;
  background-color: #fff;
  border: 0.1rem solid #d6d5d9;
  border-radius: 0.2rem;
}

