* {
  font-size: 62, 5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/background.avif);
  background-size: contain;
}

main {
  width: 70rem;
  height: 36rem;
  background-color: #eff0f2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 16px 15px 4px rgba(71, 66, 66, 0.55);
  box-shadow: 1px 16px 15px 4px rgba(71, 66, 66, 0.55);
}

h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #050130;
  margin-bottom: 1rem;
}

button {
  width: auto;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.cards-set {
  width: 20rem;
  height: 22.8rem;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
}

.bigPicture {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 1rem;
}

.smallerPictures {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.smallPicture {
  width: 5.5rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 1rem;
}

.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  letter-spacing: 0.05rem;
  flex-grow: 1;
  cursor: pointer;
}

i {
  font-size: 1.5rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

img {
  transition: width 1s;
}
img:hover {
  width: 13rem;
  height: 13rem;
  transform: scale(200%);
  outline: 0.2rem solid white;
  -webkit-box-shadow: 1px 5px 5px 4px rgba(71, 66, 66, 0.55);
  box-shadow: 1px 5px 5px 4px rgba(71, 66, 66, 0.55);
}

@media (max-width: 1200px) {
  * {
    font-size: 90%;
  }
}

@media (max-width: 1100px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 945px) {
  * {
    font-size: 70%;
  }
}

@media (max-width: 830px) {
  * {
    font-size: 60%;
  }
}

@media (max-width: 730px) {
  * {
    font-size: 90%;
  }
  body {
    display: block;
    height: auto;
  }
  main {
    width: 31rem;
    height: 89rem;
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .cards {
    width: 100%;
    gap: 0rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 450px) {
  * {
    font-size: 70%;
  }
}
